@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply transition-colors duration-1000;
}

body {
    @apply bg-gray-100 dark:bg-gradient-to-r dark:from-[#0f172a] dark:to-[#1e293b];
  }